{% extends 'layout/base.html' %}

{% load static %}

{% block content %}

<!-- Page Wrapper -->
<div id="wrapper">

    {% include 'layout/sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-dark black topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i style="color: white;" class="fa fa-bars"></i>
                </button>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Edit Materi {{ materi_name }}</h1>
                </div>

                {% load crispy_forms_tags %}

                <form id="edit_form" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <button id="edit_btn" type="submit" class="btn btn-block btn-success">Simpan</button>
                </form>

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

        {% include 'layout/footer.html' %}

    </div>
    <!-- End of Page Wrapper -->

    {% include 'layout/load_js.html' %}

    <script>
        $(function () {
            $("#id_deadline").datetimepicker({
                format: 'd/m/Y H:i',
            });
        });

        $("#edit_form").submit(function() {
            $("#edit_btn").attr("disabled", true);
            $("#edit_btn").text("Sedang menyimpan...");
        });
    </script>

    {% endblock %}